@{
    ViewData["Title"] = "Anasayfa";
}

<div class="text-center">
    <h1 class="display-4">Öğrenci Yönetim Sistemi</h1>
    <p class="lead">Bu uygulama ile öğrencileri listeleyebilir, ekleyebilir, güncelleyebilir ve silebilirsiniz.</p>

    <a class="btn btn-primary btn-lg mt-3" href="/Ogrenci/OgrenciListe">Öğrenci Listesi</a>
    <a class="btn btn-success btn-lg mt-3 ms-2" href="/Ogrenci/OgrenciEkle">Yeni Öğrenci Ekle</a>
</div>
